/* This is so that there isn't any empty space on the outside of the navbar */
body {
    margin: 0;
    font-family: "League Spartan", sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    /*background-color: red;*/
}

.nav > div {
    margin: 10px;
    padding: 3px;
    /*background-color: blue;*/
}

#logo {
    margin-left: 30px;
    width: 75px;
}

#title {
    margin-left: 5px;
    font-size: x-large;
    width: 300px;
}