/* This is so that there isn't any empty space on the outside of the navbar */
body {
    margin: 0;
}

.nav {
    display: flex;
    /*background-color: red;*/
}

.nav > div {
    margin: 10px;
    padding: 3px;
    /*background-color: blue;*/
}

#logo {
    margin-left: 20px;
    width: 100px;
}