body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
}

.members {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.member {
    width: 125px;
    border: 5px solid #004AAD;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.member h3 {
    font-size: 15px;
    margin: 10px 0;
    padding: 0;
}

.profile-picture {
    width: 100%;
    height: auto;
}

.email-icon-container {
    background-color: #004AAD;
    padding: 2px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-icon  {
    text-decoration: none;
    filter: invert(1);
    height: 15px;
    width: 15px;
}

.year-email {
    font-size: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.year-email p {
    margin: 5px;
    vertical-align: center;
}
/* This is so that there isn't any empty space on the outside of the navbar */

.nav {
    display: flex;
    align-items: center;
    /* border: solid yellow; */
}

.nav > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px;
    padding: 2px;
    /* border: solid blue; */
} 

.nav_links {
    margin: 3px;
}

#logo {
    margin-left: 30px;
    width: 75px;
}

#title {
    margin-left: 2px;
    font-size: x-large;
    width: 275px;
}

#connect {
    margin-right: 20px;
}

.diamond {
    position: absolute;
    width: 14px;
    height: 14px;

    background: #004AAD;
    border-radius: 3px;
    transform: rotate(-45deg);

    margin-left: 5px;
    margin-right: 5px;
}

.lets-connect-border {
    width: 140px;
    height: 35px;

    background: #004AAD;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
